@using API.Models
@model UserVM

@{
    ViewData["Title"] = "Dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row p-5">
        <div class="col-lg-9 m-auto">

        <h1 class="text-center">Đăng ký</h1>
        <form asp-action="Dangky">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Username" class="control-label">Username</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Fullname" class="control-label">Fullname</label>
                    <input asp-for="Fullname" class="form-control" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label asp-for="Phone" class="control-label">Phone</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Address" class="control-label">Address</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Role" class="control-label">Role</label>
                        <input asp-for="Role" class="form-control" value="customers" readonly />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng ký" class="btn btn-success" />
            </div>
            <p class="text-center mt-2">
                Bạn đã có tài khoản? Đăng nhập <a href="@Url.Action("Login", "DkDn")">tại đây</a>
            </p>

        </form>
        </div>
        
    </div>
</div>

