@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row p-5">
        <div class="col-lg-5 m-auto">
            <h1 class="text-center mb-3">Đăng Nhập</h1>
            <!-- Form bắt đầu -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input type="email" ng-model="email" name="txtEmail" required class="form-control" placeholder="Nhập email của bạn">
                </div>
            </div>
            <!-- Mật khẩu -->
            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" ng-model="password" name="txtPassword" required class="form-control" ng-minlength="6" ng-maxlength="12" placeholder="Nhập mật khẩu của bạn">
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success" ng-click="Login()">Đăng Nhập</button>
                <p class="text-center mt-2">
                    Bạn chưa có tài khoản ? Đăng ký tại <a asp-controller="Home" asp-action="Register">đây</a>
                </p>
            </div>
        </div>
    </div>
</div>
